/*.logo{
    width:50%;
    text-align: center;
}*/

.xs-bar{
    background-color: #ff8600;
    height: 40px;
}

.xs-bar p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

.logo img{
    width: 150px;
    height: 30px;
    margin: 13px 0 0 0  !important;
}

.logo-img-xs img{
    width: 150px;
    height: 30px;
    margin: 5px 0 0 0  !important;
}

.logo-xs div{
    font-weight: bold;
    font-size: 20px !important;
    margin: 0 !important;
    color: white;
}

.profile-img{
    height: 100px !important;
}

.text-center{
    text-align: center;
}

.menubrandlogo{
    width:60px;
    height:60px;
    border-radius: 3px;
}

.btn-login{
    height: 35px;
    margin-top: 10px;
}

.btn-login a{
    height: 37px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    padding-top: 8px;
    font-weight: bold;
}

.searchbox{
    height: 40 !important;
    font-size: 16px !important;
    padding-top: 3px !important;
    border-radius: 3px !important;
    border: 1px #ff8600 solid;
}


.padding-full{
    padding: 1px !important;
}

.padding-20{
  padding:20px !important;
}

.padding-top-25{
  padding-top:25px !important;
}

.padding-top-15{
    padding-top:15px !important;
}

.padding-top-10{
  padding-top:10px !important;
}

.padding-searchbox{
    padding: 0px 15px 0px 15px !important;
}

.no-padding{
    padding: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-margin-top{
    margin-top: 0 !important;
}



.no-margin{
    margin: 0 !important;
}

.hr-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating{
  margin-top: 15px;
}

#header .header-row {
    position: relative !important;
    padding: 10px;
}

#header #search {
    position:relative;
    margin-top: 10px;
    margin-bottom: 0px;
}

#menu .nav > li {
    font-weight: bold;
}

#language, #currency {
    float: left;
    border:0 !important;
    width: 100%;
}

.btn-user {
    color: black !important;
    font-weight: bold;
}

.btn-user :hover {
    color: #ff8600 !important;
}

.slider-image{
    width: 1170px;
    height: 400px;
}


.saving-new {
    background: #ff8600;
    border-radius: 100% 100% 100% 100%;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 40px;
}


.product-home-img{
    width: 200px;
    height: 200px;
}


.product-discont{
    background-color: red;
    color:white;
    border-radius: 3px;
    text-align: center;
    padding: 5px;

}




.caption h4 a{
    font-size: 15px !important;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}


.badge {
    display: inline-block !important;
    padding: .25em .4em !important;
    font-size: 90% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25rem !important;
}

.badge-primary  {
    color: #fff !important;
    background-color: #007bff !important;
}

.badge-secondary {
    color: #fff !important;
    background-color: #868e96 !important;
}

.badge-success {
    color: #fff !important;
    background-color: #28a745 !important;
}

.badge-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
}

.badge-info {
    color: #fff !important;
    background-color: #17a2b8 !important;
}




.badge-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
}

.badge-dark {
    color: #fff !important;
    background-color: #343a40 !important;
}




#content {
     min-height: 0px !important;
}



.fa-1{
    font-size: 13px !important;
}


img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    /*left: 50%;*/
    top: 20px;
    /*bottom: 20px;*/
    margin-left: 30px;
}

.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #fff;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}
